@import "tailwindcss";

.my-drag{
    -webkit-app-region: drag;
    /* z-index: 0; */
}

.my-no-drag{
    -webkit-app-region: no-drag;
}

/* html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
} */

/* 滚动条样式 */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 5px 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(52, 152, 219, 0.6);
    border-radius: 5px;
    border: 1px solid rgba(52, 152, 219, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(52, 152, 219, 0.8);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
